<!DOCTYPE html>
<!-- this is my comment section
This is a multlne comment.-->
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>

</head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAKycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossrigin="anonymous">

<body>
<div class "Well">
 <a
</body>

<h1>Name</h1>
<span>Evarist</span>
<h2> Computer</h2>
<span>06</span>
<h3> where do you live</h3>
<span>Silver Spring</span>
<h4>favorite movie</h4>
<span>casabulanca</span>
<h5> favorite quote"</h5>

<h6>Anything else</h6>
<div class"well col~md~4"><img src="""http://encrypted"</div>
<div>
//<span>
//<span></span>Hello, world!</span>
//<div> This is on a different line</div>div></div>
<a target="_blank href="https://montgomerycollege.edu">This is a linkto the MC page</ahref>
<ul>
 <li> This is an unorderred list</li>
</ul>

<div> </div>
<!-- Latest compiled and minified JavaScript -->
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLKfuWVxZxUPnCJA712mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>

</body>
</html>