<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8"/>
<title>RecipeBook</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>-->

</head>
<body>
<nav class=" navbar navbar-inverse=">
<div classes="container-fluid">
<h1>Egg Sauce-Recipe Book Continued </h1>
<h2>Nigeria</h2>

<img class="standardimage img-thumbnail" src =https://upload.wikimedia.org/wikipedia/commons/thumb/9/9d/Flag_of_Nigeria_%28state%29.svg/210px-Flag_of_Nigeria_%28state%29.svg.png
align="center" alt="flag"/>
<h3>Egg Sauce</h3>
<img class="standardimage img-thumbnail" src =http://www.allnigerianrecipes.com/images/egg-stew.png
align="center" alt="Egg Sauce"/>

<h4>Ingredients</h4>
<ul>
<li>2 large tomatoes</li>
<li>1 large onion</li>
<li>1 scotch bonnet pepper</li>
<li>2 tablespoons of cooking oil (any type)</li>
<li>4 or 5 eggs (depending on number of people eating)</li>
<li>Seasonings (suya pepper, garlic powder, thyme, etc)</li>
</lu>

<h5>Directions</h5>
Dice onions, tomatoes and 1 scotch bonnet pepper (depending on how hot you want it to be) or can be replaced with black pepper.
Add the diced onions, tomatoes and pepper into a pot, and cook until some of the juices are dried up.
Then add a table spoon or 2 (enough to cook the eggs) to the mixture
Fry for a little bit, then add seasonings ( suya pepper gotten from Tesco, any other type of seasoning pepper can be used, garlic powder, Nigerian knorr seasoning cubes stock cubes can be used instead but not diluted with water, thyme, pinch of salt and any other seasoning you like)
Then add the eggs and cook until well done.
</ul>



<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
integrity="sha384-Tc5IQib027qvyjSMfHjOMaLKfuWVxZxUPnCJA712mCWNIpG9mGCD8wGNIcPD7Txa"
crossorigin="anonymous"></script>


</body>
</html>