<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
     integrity="sha384-BVYiiSIFeK1dGmJRAKycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!--You can add fronts to your website to make it more attractive. Use goole fonts by referencing the css on the Google Fonts APIs CDN-->
    <link href="https://fonts.googleapis.com/css?family=shrikhand" rel="stylesheet">

    <!-- This is the embedded stylesheet. It contains css that alters the default styles in thenavbar-inverse class, and also addsclasses such as shrikhand and standardimage -->
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
<!--The navbar can be default (grey, inverse (black) or transparent. You can change the default colours by simply adding the style
 to a custom style sheet sheet and assigning the colours you would like to the appropriate css classes. See style.css,the embedded stylesheet reference in the head of the
 this document above. For more on the nabvar, see:
 https://ww.w.3schools.com/bootstrap_navbar.asp
 and
 https://getbootstrp.com/docs/3.3/components/#navbar
 -->
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">Application Name</a>
    </div>
    <ul class="nav navbar-nav">
          <li><a>Link Two</a></li>
          <li><a>Link One</a></li>
          <li><a>Link Three</a></li>

      </ul>
  </div>
</nav>
<div class="container">
    <div class="col-md-12">
    <h1 class="shrinkhand">Crabby page</h1>
    <div class="col-md-12"><h3 class="shrinkhand">shrikhand h2
</h3></div>
<div class="col-md-8">
</div>
</div>
<div class="row"> <!-- Use this class to force items on the same row.
Remember it's a 12 column grid!>
         <div class="col-md-12">
              <!--when designing your page, always let your items your components
              'breath'.Add as much as possible around them without
              leaving gaping holes. Lines are nice to define sections
              sometimes,but don't over do it  with linitis! -->
             <img class="standardimage img-thumbnail" src =
             "https://static.pexels.com/photos/39803.jpeg"
             align="left" alt="Apple"/>

             <p> This column has space for alot of text. I want to make sure that everything is on the same row, even if the text
             is so much that it overflows. This is a good timevto talk about lorem Ipsum, and why you should use it.It can help you test for things
             so that you don't have to type as much as I have already. I used <a href ="https://.loremipsumgenerator.com">
             this lorem ipsum text generator </a>.</p>

             <p> This is the beginning of a new paragraph. Loremipsum dollar site amet, netus et malessuada fames ac turpis egestas.
             Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor
             sit amet, ante. Donec eu libero sit amet quam egestas semper.
             Aenean ultricies mi vitae est. Mauris placerat eleifend leo.
             Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed,commodo vitae
             ornare sit amet, wisi. Aenan fermentum,elit eget tincidunt

             </p>

             </div>
             <div class="col-md-6"><!-- I usually use colmd as it fits well on
             most devices. Use hat is appropriate for the device you are
             working on! see more details here:
             https://getbootstrap.com/docs/3.3/css/
             -->
             <blockquote>This is a quotation about lorem
                ipsum...<cite>Wikipedia</cite></blockquote>


                 <p>This column has space for a lot of text. I want to make sure
                  that everything is on the same row, even if the text is so much that it overflows.
                  This is a good time  about Lorem Ipsum, and why you should use it. It can help you test for
                  things so you don't have to type as much as I have already.
                  I used <a href="https://www.loremipsumgenerator.com"> this lorem
                  ipsum text generator</a>.</p>

 </div>
</div>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
integrity="sha384-Tc5IQib027qvyjSMfHjOMaLKfuWVxZxUPnCJA712mCWNIpG9mGCD8wGNIcPD7Txa"
crossorigin="anonymous"></script>

</body>


</html>